 Button{
   margin:5px
 }
 .fileinput {
   margin-top:10px
 }

 .form-control-file, .form-control-range {
    display: block;
    width: 100%;
    margin-top: 1px;
}
input {
  padding: 10px 5px 10px 5px
}
.replace {
  margin:5px
}
Table {
  margin:5px
}

@mixin react-md-file-inputs {
  .md-file-input {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

  .md-file-input-container {
    position: relative;

    .md-btn {
      display: block;
    }
  }
}

.productions {
  display: flex;
  justify-content: center;
}